*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-de-acento:#69d4b7;
    --color-de-fondo: #c96dff;
    --color-de-texto: #060606;
    --color-de-titulos:#f982c3;

    --borde-redondeado: 10px;
}

body{
    /* Ruta de tu imagen (local o link de internet) */
    background-image: url('nube.jpg');

    /* Evita que la imagen se repita si es pequeña */
    background-repeat: no-repeat;

    /* Asegura que la imagen cubra todo el espacio sin deformarse */
    background-size: cover;

    /* Centra la imagen siempre */
    background-position: center;

    /* Opcional: hace que el fondo se quede fijo al hacer scroll */
    background-attachment: fixed;
}

.titulos{
    color:#69d4b7;
    font-family: "Pacifico";
    display: block; /* Hace que ocupe toda la línea */
    text-align: center; /* Centra el contenido dentro de esa línea */
    margin-top: 20px;
    margin-bottom: 20px;
     font-size: 200%;
}

.subtitulos{
    color:#ffffff;
    font-family: "Pacifico";
    display: block; /* Hace que ocupe toda la línea */
    text-align: center; /* Centra el contenido dentro de esa línea */
    margin-top: 20px;
    margin-bottom: 20px;
     font-size: 150%;
}

.cont-img{
    display: flex;         /* Activa el modelo Flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente (si el contenedor tiene altura) */
    width: 100%;           /* Ocupa todo el ancho disponible */
}
.img-round{
    border-radius: 20px;   /* Ajusta el valor para más o menos redondeo */
    /* border-radius: 50%; */ /* Usa 50% si quieres que la imagen sea un círculo */
    width: 300px;          /* Opcional: define un tamaño */
    height: auto;          /* Mantiene la proporción */
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-box {
  border: 2px solid rgb(255, 255, 255);   /* Crea el borde (grosor, estilo y color) */
  padding: 20px;             /* Espacio entre el texto y el borde */
  margin: auto;              /* Espacio fuera del cuadro */
  width: 80%;              /* Ancho opcional del cuadro */
  background-color: #b7f0e1; /* Color de fondo*/
  border-radius: 8px;        /* Bordes redondeados*/
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Montserrat Alternates";
}

.text-box-dos{
  border: 2px solid rgb(255, 255, 255);   /* Crea el borde (grosor, estilo y color) */
  padding: 30px;             /* Espacio entre el texto y el borde */
  margin: auto;              /* Espacio fuera del cuadro */
  width: 40%;              /* Ancho opcional del cuadro */
  background-color: #d1b6d2; /* Color de fondo*/
  border-radius: 8px;        /* Bordes redondeados*/
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Montserrat Alternates";
}
